@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #F1F0EC;
  font-family: 'Courier New', Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
